// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  text-align: center;
  top: 30%;
  width: 100%;
  position: absolute;
  line-height: 1em;
  text-shadow: 3px 3px black;

  #clock {
    font-family: impact;
    font-size: 4.3em;
  }

  #greeting {
    font-family: 'Lobster';
    font-size: 3em;
    color: gold;
  }
}
