// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  text-align: center;
  position: relative;
  margin-top: 15%;
  width: 100%;
  // line-height: 1em;
  // text-shadow: 3px 3px black;

  #clock {
    font-family: impact;
    font-size: 4.3em;
    margin-bottom: 0;
  }

  #greeting {
    font-family: 'Lobster';
    font-size: 3em;
    color: gold;
    margin-top: 0;
  }
}

#quote {
  position: relative;
  width: 40%;
  text-align: center;
  margin-top: 4em;
  margin-left: 30%;
  margin-right: auto;

  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

#author {
  display: none;
  position: relative;
  width: 40%;
  margin-top: .5em;
  text-align: center;
  margin-left: 30%;
  margin-right: auto;
  }


